#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#calculator {
  width: 400px;
  padding: 15px;
  background-color: #1f2937;
  border-radius: 5px;
}

#display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  height: 100px;
  background-color: #e6e6e6;
  border: 5px solid #d5d5d5;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 45px;
}

#buttons {
  display: flex;
  gap: 3px;
  flex-flow: column wrap;

  .row {
    display: flex;
    width: 100%;
    gap: 3px;

    button {
      flex-basis: 25%;
      height: 80px;
      border-radius: 5px;
      border: none;
      font-size: 1.5rem;
      font-family: inherit;
      font-weight: inherit;
    }
  }

  #zero {
    flex-basis: 50%;
  }
}

#nine,
#eight,
#seven,
#six,
#five,
#four,
#three,
#two,
#one {
  &:active {
    background-color: #e0dede;
  }
}

#divide,
#multiply,
#subtract,
#add,
#equals {
  background-color: #e2b260;
  &:active {
    background-color: #fccb76;
  }
}

#clear,
#plus-minus,
#percent {
  background-color: #0d766e;

  &:active {
    background-color: #0d9b8f;
  }
}
